h1{
    color: peachpuff;
    background-color: teal;
    text-align: center;
    font-size: 60px;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
    font-family: "Lucida Console", "Courier New", monospace;

}

div ul {
    color:  teal;
    background-color: peachpuff;
    border: salmon;
    border-style: double;
    font-size: 20px; 

}

span {
    color: peachpuff;
    background-color: teal;
    margin: 50px;
    font-size: 35px;
    border: salmon;

}
nav ol li {
    color:  teal;
    background-color: peachpuff;
    border: salmon;
    border-style: double;
    font-size: 20px; 

}
