h1{
    color: peachpuff;
    background-color: teal;
    text-align: center;
    font-size: 60px;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
    font-family: "Lucida Console", "Courier New", monospace;

}

p{
    text-align: center;
    background-color: peachpuff;
    color: teal;
    font-size: 35px;
    
}